<h1>All our Flats (<%= Flat.count %>)</h1>
<div class="container d-inline-flex">
  <% @flats.each do |flat| %>
  <div class="card flex-item m-2" style="width: 18rem;">
    <div class="card-body" style="background-color: #e2e2e2">
      <h5 class="card-title"> <%= flat.name %></h3>
      <p class="card-text" style="font-size: 12px"><%= flat.description %></p>
      <div class="d-flex justify-content-around">
        <div class="d-flex p-2 justify-content-around align-items-center">
          <i class="fas fa-user-friends p-2"></i>
          <span style="font-size: 14px;"> <%= flat.number_of_guests %></span>
        </div>
        <div class="d-flex p-2 justify-content-around align-items-center">
          <i class="fas fa-euro-sign p-2"></i>
          <span style="font-size: 14px;"> <%= flat.price_per_night %> </span>
        </div>
      </div>
    </div>
    <div class="card-footer" style="background-color: white;">
      <a href="#" >More info</a>
    </div>
  </div>
  <% end %>

</div>
